@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
#background-video {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
  }
.contact 
{
	position: relative;
	min-height: 100vh;
	padding: 0.05px 0.01px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	
}
.contact .content 
{
	max-width: 800px;
	text-align: center;
	cursor: default;
}
.contact .content h2 
{
	font-size: 2.5em;
	color: #fff;
	font-weight: 500;
}
.contact .content p 
{
	color: #fff;
	font-size: 1.1em;
	font-weight: 300;
}
.container 
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-top: 30px;
}
.container .contactInfo 
{
	width: 50%;
	display: flex;
	flex-direction: column;
	
}
.container .contactInfo .box 
{
	position: relative;
	padding: 20px 0;
	display: flex;
	cursor: default;
}
.container .contactInfo .box .icon 
{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75em;
	transition: 0.5s;
}
.container .contactInfo .box:hover .icon 
{
	background: #00bcd4;
	color: #fff;
}
.container .contactInfo .box .text 
{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 1.1em;
	color: #fff;
	font-weight: 300;
	cursor: text;
}
.container .contactInfo .box .text h3 
{
	font-weight: 500;
	color: #00bcd4;
	
}
.container .contactInfo .txt
{
	color: #fff;
	margin-top: 50px;
	font-weight: 500;
	padding-left: 10px;
	border-left: 50px solid #e91e63;
	line-height: 1em;
	cursor: default;
}
.sci 
{
	position: relative;
	display: flex;
	gap: 30px;
	margin: 20px 0;
}
.sci li 
{
	list-style: none;
}
.sci li a 
{
	color: #fff;
	font-size: 2em;
	transition: 0.5s;
}
.sci li a:hover 
{
	color: #00bcd4;
}
.contact .content h4
{
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 150%;
	-webkit-text-fill-color: #f90000;
	
}

.contactForm
{
	position: relative;
	width:auto;
	background: transparent;
	min-height: 100px;
	padding: 20px;
	border: rgb(254, 4, 175);
	border-radius: 50px;
	border-width: 3.5px;
	border-style:dotted solid dashed;
	cursor:default;
	
} 

.contactForm .popup{
	cursor:text;
}
.container .contactForm h2 
{
	font-size: 2em;
	color: rgb(247, 247, 247);
	font-weight: 500;
}

.container .contactForm .inputBox 
{
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.container .contactForm .inputBox input, 
.container .contactForm .inputBox textarea 
{
	width: 100%;
	padding: 5px 0;
	font-size: 1.1em;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.container .contactForm .inputBox span 
{
	position: absolute;
	left: 0;
	pointer-events: none;
	padding: 5px 0;
	margin: 10px 0;
	font-size: 1.1em;
	color: #666;
	transition: 0.5s;
}
.container .contactForm .inputBox input:focus ~ span, 
.container .contactForm .inputBox textarea:focus ~ span,
.container .contactForm .inputBox input:valid ~ span, 
.container .contactForm .inputBox textarea:valid ~ span 
{
	color: #e91e63;
	font-size: 0.9em;
	transform: translateY(-20px);
}
.container .contactForm .inputBox input[type="submit"]
{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	
	padding: 10px;
	font-size: 1.1em;
	font-weight: 500;
}

.btn {		
	padding: 2px 2px;
	position: relative;
	font-size: 18px;
	color: rgb(1, 162, 22);
	
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	
	user-select: none;
	outline:none;
	border:2px solid rgb(0, 93, 31);
	
}

.btn:before, .btn:after {
	content: '';
	position: absolute;
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color:rgb(153, 0, 0);
	box-shadow: 0 30px 40px -15px rgba(0, 255, 255, 0.996);
	border-color: rgb(153, 0, 0);
    background-color: rgb(0, 234, 255);
	text-transform:capitalize(5);
	cursor: pointer;
	
}

.btn:hover:before {
	transition-delay: 0s;
	
}

.btn:hover:after {
	background:blue;
	transition-delay: .15s;
	
}

.left:before, 
.left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.left:before {
	right: 0;
	border-left: 0;
	border-right: 0;	
}

.left:after {
	left: 0;
}

.left:hover:before,
.left:hover:after {
	width: 100%;
}

/* lets make it responsive */
@media (max-width: 991px)
{
	.contact
	{
		padding: 50px;
	}
	.container
	{
		flex-direction: column;
	}
	.container .contactInfo,
	.container .contactForm
	{
		width: 100%;
	}
	.container .contactForm
	{
		padding: 50px 30px;
	}
}









/*  COLORS
========================================== */
/*  FONTS
========================================== */
/*  MIXINS
========================================== */
/*  RESET
========================================== */
*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	width: 100%;
	height: 100%;
  }
  body.overflow {
	overflow: hidden;
  }
  
  /*  BURGER
  ========================================== */
  .burger {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 20px;
	right: 20px;
	border-radius: 4px;
	z-index: 10;
  }
  .burger span {
	position: relative;
	margin-top: 9px;
	margin-bottom: 9px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -15px;
	margin-top: -1.5px;
  }
  .burger span, .burger span::before, .burger span::after {
	display: block;
	width: 30px;
	height: 3px;
	background-color: #f3f3f3;
	outline: 1px solid transparent;
	-webkit-transition-property: background-color, -webkit-transform;
	-moz-transition-property: background-color, -moz-transform;
	-o-transition-property: background-color, -o-transform;
	transition-property: background-color, transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .burger span::before, .burger span::after {
	position: absolute;
	content: "";
  }
  .burger span::before {
	top: -9px;
  }
  .burger span::after {
	top: 9px;
  }
  .burger.clicked span {
	background-color: transparent;
  }
  .burger.clicked span::before {
	-webkit-transform: translateY(9px) rotate(45deg);
	-moz-transform: translateY(9px) rotate(45deg);
	-ms-transform: translateY(9px) rotate(45deg);
	-o-transform: translateY(9px) rotate(45deg);
	transform: translateY(9px) rotate(45deg);
  }
  .burger.clicked span::after {
	-webkit-transform: translateY(-9px) rotate(-45deg);
	-moz-transform: translateY(-9px) rotate(-45deg);
	-ms-transform: translateY(-9px) rotate(-45deg);
	-o-transform: translateY(-9px) rotate(-45deg);
	transform: translateY(-9px) rotate(-45deg);
  }
  .burger.clicked span:before, .burger.clicked span:after {
	background-color: #ffffff;
  }
  .burger:hover {
	cursor: pointer;
  }
  
  /*  NAV
  ========================================== */
  nav {
	background-color: #414040;
	position: fixed;
	z-index: 9;
	top: 0;
	right: 0;
	height: 100%;
	max-width: 515px;
	width: 100%;
	padding: 100px 40px 60px 40px;
	overflow-y: auto;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-moz-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	-o-transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition: transform 0.55s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  nav.show {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
  }
  nav.show ul.main li {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-ms-transform: translateX(0px);
	-o-transform: translateX(0px);
	transform: translateX(0px);
	opacity: 1;
  }
  nav.show ul.main li:nth-child(1) {
	transition-delay: 0.15s;
  }
  nav.show ul.main li:nth-child(2) {
	transition-delay: 0.3s;
  }
  nav.show ul.main li:nth-child(3) {
	transition-delay: 0.45s;
  }
  nav.show ul.main li:nth-child(4) {
	transition-delay: 0.6s;
  }
  nav.show ul.main li:nth-child(5) {
	transition-delay: 0.75s;
  }
  nav.show ul.main li:nth-child(6) {
	transition-delay: 0.9s;
  }
  nav.show ul.main li:nth-child(7) {
	transition-delay: 1.05s;
  }
  nav.show ul.main li:nth-child(8) {
	transition-delay: 1.2s;
  }
  nav.show ul.main li:nth-child(9) {
	transition-delay: 1.35s;
  }
  nav.show .about, nav.show .social, nav.show ul.sub {
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
	transition-delay: 0.85s;
  }
  @media (min-width: 667px) {
	nav {
	  padding: 120px 90px 70px 90px;
	}
  }
  nav ul.main {
	list-style-type: none;
  }
  nav ul.main li {
	margin-bottom: 20px;
	-webkit-transform: translateX(40px);
	-moz-transform: translateX(40px);
	-ms-transform: translateX(40px);
	-o-transform: translateX(40px);
	transform: translateX(40px);
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  nav ul.main li:last-of-type {
	margin-bottom: 0px;
  }
  nav ul.main li a {
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	display: block;
	letter-spacing: 5px;
	font-weight: 600;
	padding: 10px 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  nav ul.main li a span {
	color: #b7ac7f;
  }
  nav ul.main li a:hover {
	color: #c02626;
  }
  nav .about {
	margin-top: 40px;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  nav .about p {
	color: #ffffff;
	font-family: "Spectral", serif;
	font-size: 1.05rem;
	letter-spacing: 0.5px;
	line-height: 170%;
  }
  nav .social {
	margin-top: 30px;
	position: relative;
	padding-bottom: 5px;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  nav .social:after {
	content: "";
	width: 275px;
	height: 2.5px;
	background-color: #0077ff;
	position: absolute;
	bottom: 0;
	left: 0;
  }
  nav .social a {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 25px;
  }
  nav .social a:last-of-type {
	margin-right: 0px;
  }
  nav .social a:hover svg path, nav .social a:hover svg circle {
	fill: #b7ac7f;
  }
  nav .social a svg {
	width: 100%;
	height: 100%;
  }
  nav .social a svg path, nav .social a svg circle {
	fill: #ffffff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
  }
  nav ul.sub {
	list-style-type:square;
	margin-top: 200px;
	-webkit-transform: translateY(30px);
	-moz-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
	transform: translateY(30px);
	opacity: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
  }
  nav ul.sub li {
	margin-bottom: 10px;
  }
  nav ul.sub li:last-of-type {
	margin-bottom: 0px;
  }
  nav ul.sub li a {
	color: #928080;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.5px;
	font-size: 0.7rem;
	text-decoration: none;
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition: all 0.1s ease;
  }
  nav ul.sub li a:hover{
	color: #5c5757;
	cursor:default;

  }
  
  /*  OVERLAY
  ========================================== */
  .overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #b7ac7f;
	opacity: 0;
	visibility: hidden;
  }
  .overlay.show {
	opacity: 0.8;
	visibility: visible;
  }


  
/*This is for Popup on Mouse Enter*/
  .popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;} 
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }











.flex-container .flex-item {
	text-align: center;
  margin: 10px;
  border-radius: 2px;
  padding: 0.5em 0.5em ;
  position: relative;
  min-height: 100px;
  border-radius:0.1px;
  cursor: default;
}
.flex-container .flex-item:focus {
        box-shadow: 0 0 3pt 2pt red;
    }
.flex-container .flex-item a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
  border-radius: 0px;
  cursor: default;
}
.flex-container .flex-item a span {
  -webkit-transform: translateZ(50px) scale(0.7);
          transform: translateZ(50px) scale(0.7);
}

.tilt {
  box-shadow: 0 20px 30px -13px rgba(0, 0, 0, 0.7);
  cursor: default;
}
.tilt:hover {
  box-shadow: 0 40px 70px -15px rgba(0, 0, 0, 0.7);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: perspective(500px) rotateX(20deg) rotateY(5deg) scale3d(1, 1, 1);
  transform: perspective(500px) rotateX(20deg) rotateY(0deg) scale3d(1, 1, 1);
cursor: default;
}

.bg-one {
  background: linear-gradient(45deg, #1930ff, #15f044);
  cursor: default;
}

.flex-item span > img {
  width:200px;
}
.flex-item .text{
  color:white;
  font-weight:800;
  font-family:Courier;
  font-size:15px;
  position:sticky;
  bottom:15px;
  cursor: default;
}


/*Weird Loader
-------------------------------------------*/

svg {
	width: 120px;
    height: 90px;
	
}
.circle{
	fill:none;
	stroke-width: 5px;
	stroke: rgb(173, 90, 172);
    stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-dasharray: 360;
	stroke-dashoffset: 100;
	animation: load 10s infinite;
}
.loader{
	fill: none;
	stroke-width: 5px;
	stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-dasharray: 360;
	stroke-dashoffset: 100;
	stroke: rgb(255, 5, 155);
	animation: load 10s infinite;

}
.circle1{
	fill:none;
	stroke-width: 5px;
	stroke: rgb(226, 234, 146);
    stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-dasharray: 360;
	stroke-dashoffset: 100;
	animation: load 10s infinite;
}
.loader1{
	fill: none;
	stroke-width: 5px;
	stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-dasharray: 360;
	stroke-dashoffset: 100;
	stroke: rgb(213, 255, 5);
	animation: load 10s infinite;

}
.circle2{
	fill:none;
	stroke-width: 5px;
	stroke: rgb(74, 196, 196);
    stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-dasharray: 360;
	stroke-dashoffset: 100;
	animation: load 10s infinite;
}
.loader2{
	fill: none;
	stroke-width: 5px;
	stroke-linecap: round;
	transform: rotate(-90deg);
	transform-origin: 50% 50%;
	stroke-dasharray: 360;
	stroke-dashoffset: 100;
	stroke: rgb(5, 0, 164);
	animation: load 10s infinite;

}
@keyframes load{
	0%{
		stroke-dasharray: 360;
	}
	25%{
		stroke-dasharray: 180;
	}
	50%{
		stroke-dasharray: 1;
	}
	100%{
		stroke-dasharray: 360;
	}
}